---
layout: default
title: blog
---
<style type="text/css">
	li span{font-weight: bold;}
</style>
<div class="main">

	<!-- 文章摘要 -->
	<div>
		<h2>文章摘要</h2>
		<ul>
		  {% for post in site.posts %}
		    <li>
		      <span>{{ post.date | date_to_string }}</span>&nbsp; &raquo; &nbsp;<a href="{{ post.url }}">{{ post.title }}</a>
		      <div>{{ post.excerpt }}</div>
		    </li>
		  {% endfor %}
		</ul>
	</div>
<!-- END -->




<h1>paginator</h1>
<!--分页-->
  
  <!--判断是否需要分页-->
  {% if paginator.total_pages > 1 %}
    {% for post in paginator.posts %}
	    <a href="{{ post.url }}">{{ post.title }}</a>
	{% endfor %}  
    
    <!--判断是否需要 上一页 -->
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"上一页</a>
    {% endif %}

    <!--判断上一页是否有效-->
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="active">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    <!--下一页-->
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
    {% endif %}

  {% endif %}
<!-- END -->	  




<!--3D云,分类标签-->
    <style type="text/css">
	#ts1{ 
		top: ;
		left: ;
		width: 280px;
		height: 280px;
	}
	#ts1 li a{text-decoration:none;}
	#ts1{border: 5px solid #F2F2F2;}
	#ts1 ul {list-style-type:none;}
	
	</style>

<!--连接修改： 为每个标签写一个网页，
	每个网页排放，当前分类文章目录，-->
<div id="ts1">
    <ul class="arc-list">
	    {% for cat in site.categories %}
	        <li><a href="{{ cat.url }}">{{ cat | first }} <span>{{ cat.url }}</span></a></li>
	    {% endfor %}
	</ul>
</div>
<!--END-->

</div>