---
layout: default
---
<style type="text/css">
	.photo{ margin:auto 30%;}
	.photo img{ 
		width: 200px;
		height: 200px;
	}
	.who{ 
		margin-top:5%;
		margin-left:-10%;
		text-align:center;
	}
	.contact{margin-left: 25%;}
	.contact ul li{
		display: inline;
		padding: 5%;
	}
	.icon{ 
		width: 40px;
		height: 40px;
	}
</style>
<div class="page-content">
    
    <div class="photo">
    	<img src="{{site.url}}/downloads/pic/MJ.jpg" alt="头像" class="img-circle">
    </div>
    
    <div class="who">
    	<h2>MoHee</h2>
	    <p>三人行必有吾师焉</p>
	    <div>
	   		<a href=""><span class="social social-facebook"></span></a>
		</div>
    </div>

    <div class="contact">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

          {% if site.sina_weibo %}
          <li>
            {% include icon-sina_weibo.html username=site.sina_weibo %}
          </li>
          {% endif %}

        </ul>
      </div>

      <div class="contact">
      	<ul>
      		<li><a href="#">略知一二</a></li>
      		<li><a href="http://pangcunhong.deercv.com/?preview=1">毛遂自荐</a></li>
      	</ul>
      </div>
    


</div>

