<style type="text/css">
	.foot{ 
		margin-left: 28%;
	}
	.footer-col ul li{ 
		display: inline;
		padding: 5%;
	}
</style>

<footer class="site-footer">

  <div class="wrapper foot">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>

        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

          {% if site.sina_weibo %}
          <li>
            {% include icon-sina_weibo.html username=site.sina_weibo %}
          </li>
          {% endif %}

        </ul>
      </div>

     
      
  	  

      <div class="footer-col footer-col-3">
      <!-- 订阅 -->
      	<h2>site.url</h2>
        <p class="rss-subscribe">subscribe <a href="{{ "{{ site.url }}/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        <h2>site.github.url</h2>
        <p class="rss-subscribe">subscribe <a href="{{ "{{ site.github.url }}/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
