<style type="text/css">
	.foot{ 
		margin-left: 41%;
		font-size: .6em;
	}
	.foot p{
		padding: 1%;
		margin-bottom: 1%;
	}
	.footer-col ul{margin-left: -8%;}
	.footer-col ul li{ 
		display: inline;
		margin-left: 3%;
	}
</style>

<footer class="site-footer">

  <div class="wrapper foot">

    <div class="footer-col-wrapper">
 
      <div class="footer-col footer-col-3">
      	<p>{{ site.description }}</p>
        <ul class="social-media-list">
          
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

          {% if site.sina_weibo %}
          <li>
            {% include icon-sina_weibo.html username=site.sina_weibo %}
          </li>
          {% endif %}

          <li>
          	<a href="{{ "{{ site.baseurl }}feed.xml" | prepend: site.baseurl }}"><span class="icon icon--rss">{% include icon-rss.svg %}</span></a>
          </li>
        </ul>
        
      </div>

    </div>

  </div>

</footer>
