<header>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ site.baseurl}}index.html">
      <img src="{{ site.github.url }}/downloads/logo.png" height="50px;">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.github.url }}/html/blog.html">学而时习之<span class="sr-only">(current)</span></a></li>
        <li><a href="{{ site.github.url }}/html/learn.html">格物致知</a></li>
        <li><a href="{{ site.github.url }}/html/code.html">躬行践履</a></li>
        <li><a href="{{ site.github.url }}/html/teacher.html">见贤思齐</a></li>
        <li><a href="{{ site.github.url }}/html/book.html">温故知新</a></li>
      </ul>

      <!--
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      -->

      <ul class="nav navbar-nav navbar-right">
      	<li><a href="{{ "{{ site.github.url }}/html/about.html" | prepend: site.baseurl }}">about</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


</header>