---
layout: default
title: blog
---
<style type="text/css">
	li span{font-weight: bold;}
</style>
<div class="main">

	<!-- 文章摘要 -->
	<div>
		<h2>文章摘要</h2>
		<ul>
		  {% for post in site.posts %}
		    <li>
		      <span>{{ post.date | date_to_string }}</span>&nbsp; &raquo; &nbsp;<a href="{{ post.url }}">{{ post.title }}</a>
		      {{ post.excerpt }}
		    </li>
		  {% endfor %}
		</ul>
		<!-- END -->
	</div>

<!--分页-->
  <h2>paginator</h2>
  <!--判断是否需要分页-->
  {% if paginator.total_pages > 1 %}
    {% for post in paginator.posts %}
	    <a href="{{ post.url }}">{{ post.title }}</a>
	{% endfor %}  
    
    <!--判断是否需要 上一页 -->
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"上一页</a>
    {% endif %}

    <!--判断上一页是否有效-->
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="active">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    <!--下一页-->
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
    {% endif %}

  {% endif %}
<!-- END -->	  
</div>